<div class="flex flex-col md:flex-row h-screen">
    <app-admin-sidebar class="md:w-64"></app-admin-sidebar>
    <div class="home-container shadow-lg border border-gray-200 rounded-lg flex-1 mt-4 mr-2">
      <div class="relative flex flex-col bg-clip-border rounded-xl bg-white text-gray-700 w-full shadow-sm shadow-blue-gray-900/5">
        <div class="dash border-[1px] rounded-t-lg pl-5 flex">
          <div class="dash-content-left mb-2">
            <div class="font-bold text-bol">Event Details</div>
            <p>Plan and manage your gatherings effortlessly.</p>
          </div>
          <div class="dash-content-right mb-2 flex ml-auto space-x-4 mt-2 xl:mt-2 h-10">
            <img src="assets/esp/dashboard/bell.png" alt="Bell Icon" class="block" />
            <div class="relative">
              <img *ngIf="profileImageUrl; else svgFallbackp" [src]="profileImageUrl" alt="Avatar" class="block cursor-pointer border rounded-full w-10 h-10" (click)="toggleCard()" />
              <ng-template #svgFallbackp>
                <svg width="18" height="18" viewBox="0 0 18 20" fill="none" xmlns="http://www.w3.org/2000/svg" class="bg-[#C7B9DA] pt-2 pb-1 w-10 h-10 rounded-full border">
                  <path d="M17 19V17C17 15.9391 16.5786 14.9217 15.8284 14.1716C15.0783 13.4214 14.0609 13 13 13H5C3.93913 13 2.92172 13.4214 2.17157 14.1716C1.42143 14.9217 1 15.9391 1 17V19M13 5C13 7.20914 11.2091 9 9 9C6.79086 9 5 7.20914 5 5C5 2.79086 6.79086 1 9 1C11.2091 1 13 2.79086 13 5Z" stroke="#344054" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
              </ng-template>
              <div *ngIf="showProfileCard" class="absolute right-0 mt-[1rem] w-72 bg-white shadow-md rounded-lg p-6 z-10">
                <div class="flex items-center mb-4">
                  <img *ngIf="profileImageUrl; else svgFallbackp" [src]="profileImageUrl" alt="Navbar Image" class="w-10 h-10 rounded-full mr-2" />
                  <div class="ml-2">
                    <h3 class="text-lg medium">{{fullName}}</h3>
                    <p class="text-xs text-gray-500">{{email}}</p>
                  </div>
                </div>
                <hr class="bg-gray-500 border-2 dark:bg-gray-800 dark:border-gray-700 mb-4" />
                <button class="flex items-center text-sm text-gray-500" (click)="accountSettings()">
                  <img src="assets/esp/dashboard/settings.png" class="w-4 h-4 mr-2" />
                  Account settings
                </button>
              </div>
            </div>
            <p class="block pt-2 h-8">
              {{fullName}}
            </p>
            <button class="h-8 pt-3" (click)="toggleCard()">
              <img src="assets/esp/dashboard/down.png" alt="Down Icon" class="block mr-8" [class.clicked]="showProfileCard" />
            </button>
          </div>
        </div>
  
        <div class="flex items-center space-x-4 p-4 h-0 mt-8">
          <img src="assets/esp/dashboard/event-create-back.png" alt="">
          <h3 role="button" routerLink="/admin-event" class="text-[14px] font-semibold text-[#BC1B06]">Back to Events</h3>
        </div>
  
        <div class="overflow-y-auto h-screen">
        <div class="pb-40">
          <div *ngIf="eventdetails"  class="p-4">
            <div class="relative">
              <img class="event w-full h-80 rounded-lg"  [src]="eventdetails.eventImageUrl" alt="event image">
              <div class="absolute top-2/2 left-8 mt-5">
                <h2 class="mt-4 mb-4 text-[#344054] font-bold text-2xl">{{ eventdetails.eventTitle }}</h2>
                <div class="flex justify-between items-center space-x-4 md:space-x-4">
                  <img class="profile-picture" [src]="eventdetails.organizerLogo" alt="organizer logo">
                  <div class="pr-20">
                    <p class="font-bold" >Hosted by {{ eventdetails.organizerFullName }} </p>
                    <p class="text-gray-500">{{ eventdetails.organizerEmail }}</p>
                  </div>
                </div>
              </div>
              <div class="absolute w-[300px] right-8 transform -translate-y-1/2 p-4 bg-white shadow-sm shadow-blue-gray-900/5 rounded-xl">
                <div class="flex gap-4">
                  <div class="shadow-sm border border-gray-300 rounded-md h-22 flex flex-col items-center justify-center p-2">
                    <p class="mb-0 text-xl font-bold">{{ eventdetails.eventStartDate | customDate: 'day'}}</p>
                    <hr class="w-full border-t border-gray-300">
                    <p class="text-lg font-semibold">{{ eventdetails.eventEndDate | customDate: 'month' }}</p>
                  </div>
                  <div>
                    <p class="text-lg font-bold text-gray-400">Start Date:</p>
                    <p class="text-sm text-gray-400 font-medium">
                      {{ eventdetails.eventStartDate | customDate: 'day-name' }}
                    </p>
                    <p class="text-sm text-gray-400 font-medium">
                      {{ eventdetails.eventStartDate |customDate: 'full' }}
                    </p>
                    <p class="text-sm text-gray-400 font-mediumd">
                      {{ eventdetails.eventStartTime }}
                    </p>
                  </div>
                </div>
                <button class="bg-[#E04F16] mt-5 w-full py-2 text-white font-semibold rounded">Register</button>
              </div>
            </div>
  
            <div class="p-10 mt-28">
              <div class="flex flex-col md:flex-row justify-between space-y-4 md:space-y-0">
                <div class="w-full md:w-1/2 md:mr-10">
                  <h3 class="mt-5 mb-5 font-bold">Summary</h3>
                  <p class="text-gray-500">{{ eventdetails.eventSummary }}</p>
                  <div class="absolute flex mt-4">
                  </div>
                </div>
              </div>
  
              <div class="flex flex-col md:flex-row justify-between mt-10 space-y-4 md:space-y-0">
                <div>
                  <div class="flex items-start">
                    <img class="h-10 mr-4" src="assets/esp/start_date.png" alt="date">
                    <div>
                      <h3 class="font-bold">Date/Time</h3>
                      <div class="flex flex-col gap-3">
                        <div class="flex gap-3">
                          <p class="text-gray-500">
                            {{ eventdetails.eventStartDate | customTime:eventdetails.eventStartTime }}
                          </p>
                        </div>
                        <div class="flex gap-3">
                          <p class="text-gray-500">
                            {{ eventdetails.eventEndDate | customTime:eventdetails.eventEndTime }}
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="flex items-start mt-4">
                    <img class="h-10 mr-4" src="assets/esp/ticket_price.png" alt="ticket_price">
                    <div>
                      <h3 class="font-bold">Ticket Status</h3>
                      <p class="text-gray-500">{{ eventdetails.ticketStatus }}</p>
                    </div>
                  </div>
                  <div class="flex items-start mt-4">
                    <img class="h-10 mr-4" src="assets/esp/event_cat.png" alt="date log">
                    <div>
                      <h3 class="font-bold">Event Category</h3>
                      <p class="text-gray-500">{{ eventdetails.eventCategory }}</p>
                    </div>
                  </div>
                </div>
                <div class="md:mr-60">
                  <div *ngIf="eventdetails.eventType === null || eventdetails.eventType === ''; else virtualEventDetails">
                    <div class="flex items-start">
                      <img class="h-10 mr-4" src="assets/esp/location.png" alt="Location">
                      <div>
                        <h3 class="font-bold">Location</h3>
                        <p class="text-gray-500">{{ eventdetails.venueLocation }}</p>
                      </div>
                    </div>
                    <div *ngIf="eventdetails.ticketStatus === 'Paid'" class="flex items-start mt-4">
                      <img class="h-10 mr-4" src="assets/esp/ticket_quant.png" alt="Ticket">
                      <div>
                        <h3 class="font-bold">Ticket Quantity</h3>
                        <div>
                          <p class="text-gray-500">{{ calculateTotalAllocations()}}</p>
                        </div>
                      </div>
                    </div>
                  </div>

                  <ng-template #virtualEventDetails>
                    <div class="md:mr-60">
                      <div class="flex items-start">
                        <img class="h-10 mr-4" src="assets/esp/location.png" alt="Location">
                        <div>
                          <h3 class="font-bold">Event Type</h3>
                          <div>
                            <p class="text-gray-500">{{ eventdetails.eventType | capitalizeFirst }}</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </ng-template>
                </div>
              </div>
  
              <div *ngIf="eventdetails.eventType === 'IN_PERSON'">
                <div class="mb-8">
                  <h1 class="mt-5 mb-5 font-bold">Venue Layout</h1>
                  <div class="flex-1 rounded-md border border-gray-300">
                    <img class="h-60  w-full object-cover rounded-lg" [src]="eventdetails.venueLayoutUrl" alt="">
                  </div>
                </div>
    
                <div class="mb-8">
                  <h1 class="mt-5 mb-5 font-bold">Seating Type</h1>
                  <div class="flex-1 rounded-md border border-gray-300">
                    <img class="h-60  w-full object-cover rounded-lg" [src]="eventdetails.seatingTypeUrl" alt="">
                  </div>
                </div>
              </div>
              <div class="flex">
                  <div class="ml-auto cursor-pointer p-3 rounded-md w-40 text-center bg-[#E04F16]">
                    <h3 class="text-white">Register</h3>
                  </div>
                </div>
              </div>
          </div>
        </div>
  
      </div>
    </div>
  </div>
  