
<div class="2xl:font-inter xl:font-inter 2xl:bg-cover 2xl:h-[100vh]  md:h-[100vh] lg:bg-cover lg:h-[152vh]
" style=" background-image: url({{signupPageImages.backgroundImage}}); background-size: cover;  " >

<div>

<div>


  <div class="container text-white absolute mt-[300px] lg:pl-10 lg:text-left 2xl:text-left lg:text-[48px]">
    <p class="w-[700px] leading-[60px] font-bold 2xl:pl-36 2xl:w-[900px] 2xl:font-bold xl:font-bold">

{{signupPageTexts.mainHeading}}
    </p>

    <p class="lg:text-[12px] w-[532px] h-[56px] leading-5  2xl:pl-36 2xl:w-[800px]">

     {{signupPageTexts.subHeading}}
    </p>

  </div>


  <!-- <div *ngIf="preLoad">

    <app-preload></app-preload>

  </div> -->

<form [formGroup]="Registration" (ngSubmit)="onSubmit()" class="font-normal sm:rounded-none mx-auto w-[430px]
leading-8 bg-white pl-8 pr-8 2xl:mt-20 pt-5 lg:rounded-xl  relative lg:absolute lg:top-5 lg:right-12 2xl:rounded-xl 2xl:right-14">

  <div class="2xl:mt-3 cursor-pointer flex items-center justify-center mb-6 mt-5" (click)="Home()" >
    <img src="assets/esp/logo.png" alt="Event Vista Logo" class="mr-2">
    <h2 class="2xl:pb-3 xl:pb-3 2xl:[24.59px] font-bold text-[24.59px] pt-3 text-[#000000] font-inter">
      {{signupPageTexts.event}} <span class="text-red-700">{{signupPageTexts.vista}}
      </span>
    </h2>
  </div>
  <div *ngIf="isError" class=" absolute right-10 mt-[50px] text-[12px]">
    <!-- <p class="text-red-500"><app-all-field></app-all-field> </p> -->

  </div>



  <h2 class="text-lg font-bold text-center mt-0 text-[24px] mb-5 2xl:text-[#344054]">{{signupPageTexts.signup}}</h2>
  <p class="mb-7 text-center text-[#667085] leading-6">
    {{signupPageTexts.readyToStart}}<br> {{signupPageTexts.sigupNow}}
  </p>

  <div class="absolute right-10 -mt-[7px] text-[12px]">


  </div>



  <div class="mb-2">
    <label for="countries" class="block mb-2 text-sm font-medium text-gray-900 dark:text-black">{{signupPageTexts.signupAs}}</label>
    <select id="countries" formControlName="role" class=" bg-white-50 border border-gray-300 text-gray-900 text-sm
    rounded-lg block w-full p-2.5 dark:text-white ">
      <option value="" selected disabled>Choose...</option>
      <option  value="ORGANIZER" [ngValue]="'ORGANIZER'">{{signupPageTexts.organizer}}</option>
      <option  value="ATTENDEE" [ngValue]="'ATTENDEE'">{{signupPageTexts.attendee}}</option>
    </select>
  </div>

  <div class="mb-2">
    <label for="name" class="block mb-2 text-sm font-medium text-gray-900">{{signupPageTexts.fullName}}</label>
    <input type="text" id="name" formControlName="fullName" class="shadow-sm bg-white-50 border border-gray-300
    text-gray-900 text-sm rounded-lg block w-full p-2.5 dark:text-white" placeholder="Enter your name here" required>
    <div class="text-red-600 absolute -mt-2 text-[10px]" *ngIf="Registration.get('fullName')?.invalid &&
    (Registration.get('fullName')?.touched || Registration.get('fullName')?.dirty)">
      <span *ngIf="Registration.get('fullName')?.errors?.['required']">Field is required</span>
      <span *ngIf="Registration.get('fullName')?.errors?.['minlength']">Min 6 Characters Required</span>
    </div>
  </div>

  <div class="mb-2">
    <label for="name" class="block mb-2 text-sm font-medium text-gray-900">{{signupPageTexts.emailLabel}}</label>
    <input type="email" id="email" formControlName="email" class="shadow-sm bg-white-50 border border-gray-300 mt-3
    text-gray-900 text-sm rounded-lg block w-full p-2.5 dark:text-white" placeholder="Enter your email address" required>
    <div class="text-red-600 absolute -mt-2 text-[10px]" *ngIf="Registration.get('email')?.invalid &&
    (Registration.get('email')?.touched || Registration.get('email')?.dirty)">
      <span *ngIf="Registration.get('email')?.errors?.['required']">Field is required</span>
      <span *ngIf="Registration.get('email')?.errors?.['email']">Input valid email address</span>
    </div>
  </div>

  <div class="mb-2">
    <label for="password" class="block mb-2 text-sm font-medium text-gray-900 mt-5">Password*</label>
    <input type="password" id="password" formControlName="password" class="shadow-sm bg-white-50 border
    border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5 dark:text-white" placeholder="Enter password here" required>
    <div class="text-red-600 absolute -mt-2 text-[10px]" *ngIf="Registration.get('password')?.invalid &&
    (Registration.get('password')?.touched || Registration.get('password')?.dirty)">
      <span *ngIf="Registration.get('password')?.errors?.['required']">Field is required</span>
      <span *ngIf="Registration.get('password')?.errors?.['minlength']">Min 8 characters</span>
    </div>
  </div>

  <div class="mb-3">
    <label for="confirm-password" class="block mb-2 text-sm font-medium text-gray-900 mt-5">Confirm password*</label>
    <input type="password" id="confirmPassword" formControlName="confirmPassword" class="shadow-sm bg-white-50 border
    border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5
    dark:text-white" placeholder="Re-enter password" required>
    <div class="text-red-600 absolute -mt-2 text-[10px]" *ngIf="Registration.get('confirmPassword')?.invalid &&
    (Registration.get('confirmPassword')?.touched || Registration.get('confirmPassword')?.dirty)">
      <span *ngIf="Registration.get('confirmPassword')?.errors?.['required']">Field is required</span>
      <span *ngIf="Registration.get('confirmPassword')?.errors?.['minlength']">Min 8 characters</span>
    </div>
  </div>

  <button type="submit" class="bg-[#BC1B06] cursor-pointer hover:bg-[#cc210a]
  text-white font-medium py-2 px-4 rounded-lg
  focus:outline-none focus:shadow-outline w-full mt-2 h-11">

<div class="">
  @if(loading){

    <app-signup-preload></app-signup-preload>


} @else if (isError) {
  Error
}
@else if (isExisting) {
  User already exists
}
@else {
  Sign up
}
</div>




</button>
  <p (click)="Login()"  class="text-[#667085] font-medium text-[14px] cursor-pointer pt-5 pb-5 text-center">
    {{signupPageTexts.accountAlready}}
    <span class="cursor-pointer text-[#BC1B06] font-medium text-[14px]">
      {{signupPageTexts.logIn}}
    </span></p>
</form>


