<div class="font-inter bg-cover bg-center h-[100vh] " style="background-image: url({{ResetPassImg}}); background-size: cover; background-position: center; " >

  <div>

    <div class="container text-white absolute mt-[300px] lg:pl-10 lg:text-left 2xl:text-left 2xl:mt-[300px] lg:text-[48px] lg:mt-48">
      <p class="w-[700px] leading-[60px] font-bold 2xl:pl-36 2xl:w-[950px] lg:w-[750px]">
        Unleash Innovation, Amplify Engagement, and Redefine Event Success with Our Comprehensive Platform      </p>

      <p class="lg:text-[12px] w-[532px] h-[56px] leading-5  2xl:pl-36 2xl:w-[680px]">
        Where Seamless Planning Meets Unforgettable Experiences: Elevate Your Events with Confidence and Ease.      </p>

    </div>



  <div class="">


    <form [formGroup]="ResetSer" (ngSubmit)="onSubmit()" class="sm:rounded-none  xl:rounded-xl   mx-auto  w-[430px] md:mt-0 h-[527.95px]
    bg-white  pl-8 pr-8 pt-3 gap-5 relative lg:max-w-none
    lg:w-[400px] lg:absolute lg:top-5 lg:right-5 lg: mr-9 2xl:rounded-xl 2xl:mt-40">
      <div class="flex items-center justify-center mb-6 mt-2 cursor-pointer" (click)="Home()">
        <img src="assets/esp/logo.png" alt="Event Vista Logo" class="mr-2">
        <h2 class="font-bold text-[24.59px] pt-3 xl:pb-3 " >{{Event}} <span class="text-red-700">{{Vista}}</span></h2>
    </div>

      <h2 class="text-lg font-bold text-center mt-0 text-[24px] mb-1">{{Reset}}</h2>
      <p class="mb-7 text-center text-[#667085] text-[14px]">
        {{ReturnPlan}}
      </p>


      <div class="mb-5">
        <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{NewPass}}</label>
        <!-- <img src="assets/esp/close-pass.png" alt="" srcset="" class="absolute right-10" > -->
        <input type="email" id="email" class="shadow-sm bg-white-50 border border-gray-300
        text-gray-900 text-sm rounded-lg block w-full p-2.5  dark:placeholder-white dark:text-white"
         placeholder="Enter password here" required formControlName="password"/>

         <div class="text-red-600 absolute mt-0 text-[10px]" *ngIf="ResetSer.get('password')?.invalid &&
         (ResetSer.get('password')?.touched || ResetSer.get('password')?.dirty)">
           <span *ngIf="ResetSer.get('password')?.errors?.['required']">Field is required</span>
           <span *ngIf="ResetSer.get('password')?.errors?.['minlength']">Min 6 Characters Required</span>
         </div>

      </div>

      <div class="mb-2">
        <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{ConfirmPassword}}</label>
        <!-- <img src="assets/esp/open-pass.png" alt="" srcset="" class="absolute right-10" > -->
        <input type="email" id="email" class="shadow-sm bg-white-50 border border-gray-300
        text-gray-900 text-sm rounded-lg block w-full p-2.5  dark:placeholder-white dark:text-white"
         placeholder="Re-enter password" required formControlName="confirmPassword"/>

         <div class="text-red-600 absolute mt-0 text-[10px]" *ngIf="ResetSer.get('confirmPassword')?.invalid &&
         (ResetSer.get('confirmPassword')?.touched || ResetSer.get('confirmPassword')?.dirty)">
           <span *ngIf="ResetSer.get('confirmPassword')?.errors?.['required']">Field is required</span>
           <span *ngIf="ResetSer.get('confirmPassword')?.errors?.['minlength']">Min 6 Characters Required</span>
         </div>

      </div>

      <button type="submit" class="bg-[#BC1B06] cursor-pointer hover:bg-[#cc210a] text-white
      font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline w-full mt-4"  >


      {{Changepassword}}
    </button>

    <div class="cursor-pointer flex items-center justify-center gap-2 mt-5" (click)="Login()">

          <img src="assets/esp/arrow-left.png" class="w-5 h-5" alt="Back">

  {{BackToLogin}}
  </div>


    </form>

  </div>

    </div>

  <!-- </div> -->
