<!-- component -->
<div
  class="font-inter relative flex flex-col bg-clip-border rounded-xl bg-white text-gray-700 sm:h-[calc(100vh-2rem)] w-full max-w-[20rem] p-4 shadow-sm shadow-blue-gray-900/5 lg:h-[calc(100vh-2rem)] 2xl:h-[calc(100vh-2rem)]"
>
  <div class="mb-2 p-4">
    <div
      (click)="orgDash()"
      class="cursor-pointer flex items-center justify-center mb-6 mt-0 -ml-16"
      (click)="orgDash()"
    >
      <img src="{{ OrgDasImg }}" alt="Event Vista Logo" class="mr-2 mt-0" />
      <h2 class="font-bold text-[24.59px] pt-3">
        {{ Event }} <span class="text-red-700">{{ Vista }}</span>
      </h2>
    </div>
  </div>

  <nav
    class="-mt-10 flex flex-col gap-1 min-w-[240px] p-2 font-sans text-base font-normal text-gray-700"
  >
    <div
      role="button"
      tabindex="0"
      class="bg-[#EAECF0] flex items-center w-full p-3 rounded-none text-start leading-tight transition-all outline-none"
      (click)="orgDash()"
    >
      <div class="grid place-items-center mr-4">
        <img
          src="{{ DashBoardChartImg }}"
          alt="Event Vista Logo"
          class="-mr-2"
        />
      </div>
      {{ Dashboard }}
    </div>

    <div
      role="button"
      (click)="orgEvent()"
      tabindex="0"
      class="flex items-center w-full p-3 rounded-lg text-start leading-tight transition-alloutline-none"
    >
      <div class="grid place-items-center mr-4">
        <img src="{{ EventLayerImg }}" alt="Event Vista Logo" class="-mr-2" />
      </div>
      {{ Event }}s
    </div>

    <div
      role="button"
      (click)="orgUsers()"
      tabindex="0"
      class="flex items-center w-full p-3 rounded-lg text-start leading-tight transition-all outline-none"
    >
      <div class="grid place-items-center mr-4">
        <img src="{{ SettingsImg }}" alt="Event Vista Logo" class="-mr-2" />
      </div>
      {{ Users }}
    </div>

    <div
      (click)="logout()"
      role="button"
      tabindex="0"
      class="2xl:mt-[450px] lg:mt-[150px] flex items-center w-full p-3 rounded-lg text-start leading-tight transition-all"
    >
      <div class="grid place-items-center mr-4">
        <img src="{{ LogoutImg }}" alt="Event Vista Logo" class="-mr-2" />
      </div>
      {{ LogOut }}
    </div>
  </nav>

  <div
    class="dash absolute ml-[305px] border-[1px] rounded-t-lg w-[900px] 2xl:h-fit xl:h-fit 2xl:absolute 2xl:ml-[305px] 2xl:border-[1px] 2xl:rounded-t-lg 2xl:w-[1580px] xl:w-[940px]"
  >
    <div
      class="dash border-[1px] rounded-t-lg p-0 pl-5 flex 2xl:border-[1px] 2xl:rounded-t-lg 2xl:p-2 2xl:pl-5 2xl:flex"
    >
      <div class="dash-content-left">
        <h2 class="font-semibold  text-[24px]">{{ Dashboard }}</h2>
        <p class="">
          {{ subTitle }}
        </p>
      </div>

      <div
        class="dash-content-right flex size-7 ml-[300px] space-x-5 mt-2 2xl:flex 2xl:size-7 2xl:ml-[530px] 2xl:space-x-5 2xl:mt-2 xl:mt-5"
      >
        <img src="{{ NavbarBell }}" alt="" class="block absolute right-60 2xl:-mt-1 text-[14px] font-medium" />

        @if (profile) {

        <div class="block -mt-5 z-50 -right-10 absolute shadow-lg p-0 m-0">
          <div
            class="bg-white shadow-md rounded-lg p-6 absolute top-20 right-20 w-72 flex"
          >
            <img
              src="assets/esp/dashboard/avatar.png"
              alt="Navbar Image"
              class="w-10 h-10 rounded-full mr-2"
            />

            <div class="relative -space-y-6 mb-8">
              <h3 class="text-lg w-fit medium 2xl:text-[16px] 2xl:font-medium text-[#344054]">{{ NavBarName }}</h3>
              <br />
              <h5 class=" w-fit text-[14px] text-gray-500 2xl:mb-12" id="email">
                {{ email }}
              </h5>
            </div>

            <hr
              class="bg-gray-500 border-2 dark:bg-gray-800 dark:border-gray-700"
            />

            <button
              class="absolute -bottom-5 left-6 flex"
              (click)="accountSettings()"
            >
              <div class="flex mb-8">
                <img
                  src="assets/esp/dashboard/settings.png"
                  class="flex w-3 h-3 mt-0 mr-2 bottom-11 "
                />

                <h3
                  class="flex text-xs text-gray-500 pl-5"
                  style="font-size: 14px"
                >
                  Account settings
                </h3>
              </div>
            </button>
          </div>
          <div class="w-full border-1"></div>
        </div>

        }

        <img
          src="{{ NavBarImg }}"
          alt=""
          class="block absolute right-44 cursor-pointer 2xl:-mt-1"
          (click)="toggleCard()"
        />

        <p class="block absolute right-20 top-8 2xl:-mt-2 text-[14px] font-medium">
          {{ NavBarName }}
        </p>

        <button>
          <img
            src="{{ NavBarDownArrow }}"
            alt=""
            class="size-5 absolute 2xl:right-10 2xl:top-6 "
          />
        </button>
      </div>
    </div>

    <div class="font-bold ml-8 mt-5 text-[20px]">
      <h2 class="">Welcome, <span>{{fullName}}</span> 👋</h2>
    </div>

    <div class="card-all m-0 flex w-4/4 mt-4 ml-8 mr-8">
      <div
        class="card w-3/4 h-[152px] border-[1px] rounded-lg shadow-sm m-2 p-5"
      >
        <button class="absolute xl:ml-36 2xl:ml-72" id="dropdownButton">
          <svg
            class="w-5 h-5 rotate-90"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="currentColor"
            viewBox="0 0 16 3"
          >
            <path
              d="M2 0a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3Zm6.041 0a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM14 0a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3Z"
            />
          </svg>
        </button>

        <p class="mt-2 text-[14px] pt-5">Tickets</p>

        <h2 class="mt-0  font-semibold text-[36px]">{{ 2000 | number }}</h2>
      </div>

      <div
        class="card w-3/4 h-[152px] border-[1px] rounded-lg shadow-sm m-2 p-5"
      >
        <button
          class="absolute xl:ml-36 2xl:ml-72"
          id="dropdown"
          data-dropdown-toggle="dropdown"
        >
          <svg
            class="w-5 h-5 rotate-90"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="currentColor"
            viewBox="0 0 16 3"
          >
            <path
              d="M2 0a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3Zm6.041 0a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM14 0a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3Z"
            />
          </svg>


          <div
            id="dropdown"
            class="z-10 hidden text-base list-none bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700"
          >
            <ul class="py-2" aria-labelledby="dropdownButton">
              <li>
                <a
                  href="#"
                  class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white"
                  >Edit</a
                >
              </li>
              <li>
                <a
                  href="#"
                  class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white"
                  >Export Data</a
                >
              </li>
              <li>
                <a
                  href="#"
                  class="block px-4 py-2 text-sm text-red-600 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white"
                  >Delete</a
                >
              </li>
            </ul>
          </div>
        </button>
        <p class="mt-2 text-[14px] pt-5">Sales</p>
        <h2 class="mt-0 font-semibold text-[36px]">
          <span>{{ fourThousand | number }}</span>
        </h2>
      </div>

      <div
        class="card w-3/4 h-[152px] border-[1px] rounded-lg shadow-sm m-2 p-5"
      >
        <button class="absolute xl:ml-36 2xl:ml-72">
          <svg
            class="w-5 h-5 rotate-90"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="currentColor"
            viewBox="0 0 16 3"
          >
            <path
              d="M2 0a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3Zm6.041 0a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM14 0a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3Z"
            />
          </svg>
        </button>

        <p class="mt-2 text-[14px] pt-5">Revenue</p>
        <h2 class="mt-0 font-semibold text-[36px]">
          {{ EightThousand | number }}
        </h2>
      </div>
      <div
        class="card w-3/4 h-[152px] border-[1px] rounded-lg shadow-sm m-2 p-5"
      >
        <button class="absolute xl:ml-36 2xl:ml-72">
          <svg
            class="w-5 h-5 rotate-90"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="currentColor"
            viewBox="0 0 16 3"
          >
            <path
              d="M2 0a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3Zm6.041 0a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM14 0a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3Z"
            />
          </svg>
        </button>

        <p class="mt-2 text-[14px] pt-5">Events held</p>
        <h2 class="mt-0 font-semibold text-[36px]">
          {{ EightThousand | number }}
        </h2>
      </div>
    </div>

    <div class="card-all m-0 flex w-4/4 mt-3 ml-8 mr-8">
      <div
        class="card w-3/4 h-[267px] border-[1px] rounded-lg shadow-sm m-2 p-5"
      >
        <div class="mt-0 absolute pl-2">
          <h2 class="mt-0 text-[24px] font-semibold">Best Selling</h2>
          <img src="{{ pieChart }}" alt="" class="xl:ml-0 size-36" />
        </div>

        <div class="mt-36 pl-10 xl:w-[350px] 2xl:w-[625px] 2xl:pl-20 ">
          <div
            class="flex xl:w-full xl:h-fit xl:ml-36 xl:-mt-36 text-[12px] space-x-12"
          >
            <p
              class="border-b border-y-red-500 w-14 pb-1 cursor-pointer"
              (click)="showContent('monthly')"
            >
              Monthly
            </p>
            <p
              class="border-b border-y-gray-400 w-14 pb-1 cursor-pointer"
              (click)="showContent('weekly')"
            >
              Weekly
            </p>
            <p
              class="border-b border-y-gray-400 w-14 pb-1 cursor-pointer"
              (click)="showContent('daily')"
            >
              Daily
            </p>
          </div>

          <div class="flex xl:w-full xl:h-fit xl:ml-36 xl:-mt-30 text-[12px]">
            <div class="monthly">
              <div
                *ngIf="activeStep === 'monthly'"
                [class]="
                  activeStep === 'monthly'
                    ? 'border-y-orange-400 '
                    : 'text-gray'
                "
              >
                <p
                  class="w-2/3 text-[12px] 2xl:mt-5 2xl:text-[12px] 2xl:leading-[18px] leading-4 h-2/3 pr-5"
                >
                  Explore best-selling events monthly, weekly, or daily. Track
                  ticket availability, sales, and total events held. Visualize
                  data with a circular graph for tickets left, sold, and events
                  held. Optimize event planning for success.
                </p>
              </div>
            </div>
            <div class="monthly">
              <div
                *ngIf="activeStep === 'weekly'"
                [class]="
                  activeStep === 'weekly' ? 'border-y-orange-400 ' : 'text-gray'
                "
              >
                <p
                  class="w-2/3 text-[12px] 2xl:mt-5 2xl:text-[12px] 2xl:leading-[18px] leading-4 h-2/3 pr-5"
                >
                  Explore best-selling events monthly, weekly, or daily. Track
                  ticket availability, sales, and total events held. Visualize
                  data with a circular graph for tickets left, sold, and events
                  held. Optimize event planning for success.
                </p>
              </div>
            </div>
            <div class="weekly">
              <div
                *ngIf="activeStep === 'daily'"
                [class]="
                  activeStep === 'daily' ? 'border-y-orange-400 ' : 'text-gray'
                "
              >
                <p
                  class="w-2/3 text-[12px] 2xl:mt-5 2xl:text-[12px] 2xl:leading-[18px] leading-4 h-2/3 pr-5"
                >
                  Explore best-selling events monthly, weekly, or daily. Track
                  ticket availability, sales, and total events held. Visualize
                  data with a circular graph for tickets left, sold, and events
                  held. Optimize event planning for success.
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="xl:ml-10 2xl:ml-20">
          <div class="xl:ml-36 flex space-x-16 2xl:mt-0 2xl:mb-5">
            <p
              class="border-b-4 border-y-orange-300 2xl:w-[26px] 2xl:h-[5px] pb-5"
              style="border-color: #ffd6ae"
            ></p>
            <p
              class="border-b-4 border-y-orange-300 w-6 pb-1"
              style="border-color: #ff9c66"
            ></p>
            <p
              class="border-b-4 border-y-orange-300 w-6 pb-1"
              style="border-color: #ff4405"
            ></p>
          </div>

          <div
            class="flex xl:w-full xl:h-fit xl:ml-36 xl:-mt-2 text-[12px] space-x-5 static"
          >
            <div
              class="flex xl:w-full xl:h-fit xl:ml-0 xl:-mt-0 text-[12px] space-x-8"
            >
              <h3 class="w-14 pb-1 font-bold text-[14px]">44 Left</h3>
              <h3 class="w-14 pb-1 font-bold text-[14px]">44</h3>
              <h3 class="w-14 pb-1 font-bold text-[14px]">44</h3>
            </div>
            <div
              class="2xl:flex 2xl:absolute xl:absolute xl:flex 2xl:space-x-5 2xl:left-64 2xl:pl-2 xl:left-56 xl:mt-8 2xl:mt-8 xl:pr-5 xl:text-xs xl:space-x-5 xl:font-medium"
            >
              <p class="">Ticket Left</p>
              <p class=" ">Ticket Left</p>
              <p class=" ">Ticket Left</p>
            </div>
          </div>
        </div>

        <div
          class="flex xl:w-full xl:h-fit xl:ml-36 xl:-mt-2 text-[12px] space-x-5 static"
        ></div>
      </div>

      <div
        class="card w-3/4 h-[267px] border-[1px] rounded-lg shadow-sm m-2 p-5"
      >
        <div class="xl:-mt-2">
          <h2 class="mt-5 font-semibold text-[20px] font-inter">Tickets sold today</h2>
          <h3 class="mt-5 text-[14px] font-semibold ">4044pcs</h3>

          <div class="xl:mt-5">
            <p class="text-[12px] font-normal">
              Stay ahead of the curve with our real-time 'Tickets Sold Today'
              tracker, offering immediate insights into today's ticket sales. By
              keeping a pulse on current sales trends, you'll be equipped to
              make proactive decisions and fine-tune event strategies for
              optimal success.
            </p>

            <div class="2xl:mt-5 w-full bg-gray-200 rounded-full h-2.5 dark:bg-gray-700">
              <div
                class="bg-red-600 h-2.5 rounded-full"
                style="width: 50%"
              ></div>
            </div>

          </div>
        </div>
      </div>
    </div>

    <div class="card-all m-0 flex mt-3 ml-8 mr-8">
      <div
        class="card w-full h-[486px] border-[1px] rounded-lg shadow-sm m-2 p-5"
      >
        <h2 class="mt-10 font-semibold text-[20.88px]">{{ RevChart }}</h2>

        <!-- {{OrganizerDashGraphComponent}} -->
        <!-- <app-organizer-dash-graph></app-organizer-dash-graph> -->
      </div>
    </div>

    <div class="card-all m-0 flex w-4/4 mt-3 ml-8 mr-8">
      <!-- <div class="card w-3/4 h-[267px] border-[1px] rounded-lg shadow-sm m-2 p-5  ">

      <div class="mt-5 flex space-x-96 ml-5">
          <h3 class="mt-5 text-[24px] font-extrabold">Recent created event</h3>
          <h3 class="mt-5 text-[24px] font-extrabold">View all</h3>

      </div>


    <div class="xl:ml-5 flex space-x-16 w-full leading-6">

      <div>
        <img src="assets/esp/dashboard/recent_img.png" alt="" srcset="">

        <div class="flex leading-4">
        <h3 class="left-40 pt-0 absolute font-bold">Harmony festival</h3>
        <h3 class="left-40 pt-0 absolute font-bold">South Africa, Central Park</h3>
        <h3 class="left-40 pt-0 absolute font-bold">
          Harmony fest invites you to revel in a joyful celebration of music, delectable
          cuisine and vibrant festivities.
           Dance to the rhythm of diverse genres, indulge your taste buds in a ....</h3>


        </div>

      </div>

   </div>




    <div class="flex xl:w-full xl:h-fit xl:ml-36 xl:-mt-2 text-[12px] space-x-5 static">

    </div>

    <div class="flex xl:w-full xl:h-fit xl:ml-36 xl:-mt-2 text-[12px] space-x-5 static">
    </div>
    </div>

    <div class="card w-3/4 h-[267px] border-[1px] rounded-lg shadow-sm m-2 p-5 ">

      <h2 class="mt-5 text-[24px] font-extrabold">Tickets sold today</h2>
      <h3 class="mt-5 text-[14px] font-black">4044pcs</h3>

      <div>
        <p class="">
          Stay ahead of the curve with our real-time 'Tickets Sold Today' tracker, offering immediate
          insights into today's ticket sales. By keeping a pulse on current sales
          trends, you'll be equipped to make proactive decisions and fine-tune event strategies for optimal success.
        </p>
      </div>

      <div class="w-full bg-gray-200 rounded-full h-2.5 dark:bg-gray-700">
        <div class="bg-red-600 h-2.5 rounded-full" style="width: 50%"></div>
      </div>

    </div> -->
    </div>
  </div>
</div>
