<div
  class="font-inter relative flex flex-col bg-clip-border rounded-xl bg-white text-gray-700 sm:h-[calc(100vh-2rem)] w-full max-w-[20rem] p-4 shadow-sm shadow-blue-gray-900/5 lg:h-[calc(100vh-2rem)] 2xl:h-[calc(100vh-2rem)]"
>
  <app-organizer-dash></app-organizer-dash>

  <div
    class="dash xl:absolute ml-[305px] rounded-t-lg w-full 2xl:absolute 2xl:ml-[305px]  2xl:rounded-t-lg 2xl:w-[1580px] xl:w-[940px]  2xl:h-fit h-auto 2xl:-mb-96 "
  >
    <div
      class="dash border-[1px] rounded-t-lg p-0 pl-5 flex 2xl:border-[1px] 2xl:rounded-t-lg 2xl:p-2 2xl:pl-5 2xl:flex"
    >
      <app-organizer-top-bar [heading]="heading" [sub_Heading]="sub_heading">
      </app-organizer-top-bar>
    </div>




<app-org-view-events></app-org-view-events>




    </div>

</div>


