<div
  class="font-inter relative flex flex-col sm:h-[calc(100vh-2rem)] p-2 lg:h-[calc(100vh-2rem)] 2xl:h-[calc(100vh-2rem)]"
>
  <div class="">
    <app-organizer-create-event-bar


    >

    </app-organizer-create-event-bar>

    <div class="card-all m-0 flex mt-12 2xl:ml-[170px] -ml-[50px] mr-8">
      <div class="">
        <div
          class="text-first-event  flex justify-center items-center cursor-pointer"
          (click)="showDiscardConfirmation()"
        >
          <img
            src="{{ EventProgressImg }}"
            alt=""
            class="relative ml-[20px] xl:mt-16"
          />

          <p class="xl:pb-5 2xl:pb-5 text-[#BC1B06] absolute font-bold text-[14px] left-[370px] top-[115px] 2xl:left-[230px] xl:mb-10">
            {{ BackToEvent }}
          </p>
        </div>

        <div class="mt-10 a absolute ">


          <div class="divide-gray-100 dark:divide-gray-700 ">
          <h2 class="font-semibold text-[24px] text-[#344054] ml-5">Notifications</h2>
           <div class="search mb-2 flex">
            <div class="ml-3 mt-5 mb-5">
            <img
              src="assets/esp/dashboard/search.png"
              alt=""
              class="absolute mt-3.5 ml-5 w-3"
            />
            <input
            type="text"
            id="name"
            class="shadow-sm bg-[white] w-[220px] border border-gray-300 text-gray-900 text-sm rounded-md block p-2 pl-10"
            placeholder="Search notifications"
            #filter
            (keyup)="searchNotification(filter.value)"

          />


        </div>

        <div>
          <div class="flex mt-5 sm:ml-[1240px] gap-2 cursor-pointer">
            <div class="border-[1px] rounded-md p-1" (click)="markAllRead()">

              <svg
              width="30"
              height="30"
              viewBox="0 0 24 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
              stroke="currentColor"
              stroke-width="1"
            >
              <!-- Envelope body with three sides -->
              <path
                d="M2 8v12h20V8M2 8l10 8 10-8"
                stroke-linecap="round"
                stroke-linejoin="round"
              />

              <!-- Envelope flap -->
              <path
                d="M2 8l10-6 10 6"
                stroke-linecap="round"
                stroke-linejoin="round"
                fill="none"
              />
            </svg>
            </div>

            <div
            class="border-[1px] rounded-md p-1 cursor-pointer"
            (click)="confirmDelete()"
            [ngStyle]="!isSelectMode ? {'cursor': 'not-allowed'} : {}"
            [ngClass]="{ 'cursor-not-allowed opacity-50 pointer-events-none': !isSelectMode }"


          >
            <!-- Uploaded to: SVG Repo, www.svgrepo.com, Transformed by: SVG Repo Mixer Tools -->
            <svg width="30px" height="30px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g id="SVGRepo_bgCarrier" stroke-width="0"/>
              <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"/>
              <g id="SVGRepo_iconCarrier">
                <path d="M6 7V18C6 19.1046 6.89543 20 8 20H16C17.1046 20 18 19.1046 18 18V7M6 7H5M6 7H8M18 7H19M18 7H16M10 11V16M14 11V16M8 7V5C8 3.89543 8.89543 3 10 3H14C15.1046 3 16 3.89543 16 5V7M8 7H16"
                stroke="#000000" stroke-width="1.032" stroke-linecap="round" stroke-linejoin="round"/>
              </g>
            </svg>
          </div>



                    </div>
                  </div>
        </div>



        @if (records.length > 0) {

            <div class="w-full ps-3 pb-10">
              <div  *ngFor="let item of records; let i = index" class="cursor-pointer flex mb-2 -ml-5 text-gray-500 text-sm dark:text-gray-400">

                @if(isSelectMode){
                  <input
                  class="-mt-24"
                  type="checkbox"
                  [checked]="selectedItemIds.has(item.id)"
                  (change)="toggleDeleteMode(item.id)"
                />
                }


                <div class="flex-shrink-0 p-5 border-gray-300" (click)="selectNotification()">
                  <img class="rounded-full border-2 p-2 w-10 h-10" src="assets/esp/logo.png" alt="Jese image">
                </div>
                <div  >
                  <div class="mr-5">
                  <div class="flex pt-5 pb-5">
                    <h3 class=" font-semibold text-[16px] text-black mb-2 mt-2">{{item.title}}</h3>
                  </div>

                  <div class="bg-gray-100 pt-3 rounded-md pb-4 pl-2 2xl:w-[1500px]">
                   <div class="flex pt-0 pb-1">
                    <h3 class="mb-0 font-normal  text-[12px] text-black"> {{item.message}}</h3>
                  </div>
                  <hr class="border-1 ">
                  <div class="flex pt-1 pb-1 2xl:space-x-[1100px]">
                    <h3 class="mb-0 mt-3 font-normal  text-[12px] text-black">{{item.dayAndTime}}</h3>
                    @if(item.read === true){
                      <div class="inline-flex  rounded-2xl cursor-pointer bg-[#EAECF0] text-[#475467] p-2">
                        <div class="flex">
                          <p>Read</p>
                        </div>
                      </div>

                    }@else if(item.read === false){
                      <div class="inline-flex rounded-2xl cursor-pointer bg-[#EAECF0] text-[#475467] p-2" (click)="ReadNotification(item.id)">
                        <div class="flex">
                          <img class="w-8 pr-3" src="assets/esp/check-mark.png">
                          <p>Mark as read</p>
                        </div>
                      </div>

                    }
                  </div>
                  </div>


                </div>


                </div>

              </div>
            </div>
          } @else{
            <section class="bg-white">
              <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">
                <div class="mx-auto max-w-screen-sm text-center">
                  <p class="mb-4 text-2xl  font-bold text-[#BC1B06] md:text-2xl text-[14px]">
                    Result Not Found
                  </p>
                </div>
              </div>
            </section>
          }
        </div>

        </div>



        <div *ngIf="isLogoutModalVisible" class="fixed inset-0 flex items-center justify-center bg-gray-900 bg-opacity-75 z-50">
          <div class="bg-white p-6 rounded-lg shadow-lg text-center">
            <div *ngFor="let item of NotificationData "  class="flex mb-2 hover:bg-gray-100 dark:hover:bg-gray-700 text-gray-500 text-sm dark:text-gray-400">

              @if(item.id == readId){
                <div class="flex-shrink-0 p-5 border-gray-300">
                  <img class="rounded-full w-10 h-10" src="assets/esp/dashboard/settings.png" alt="Jese image">
                </div>
                <div>
                  <div class="flex space-x-14">
                    <h3 class=" font-semibold text-[16px] text-black mb-2 mt-2">{{item.title}}</h3>
                    <h3 class="mb-0 font-normal text-[12px] text-black">{{item.timeAgo}}</h3>
                  </div>

                {{item.message}}
                <div class="text-xs text-blue-600 dark:text-blue-500"></div>

                </div>
              }

            </div>
            <div class="mt-4 flex justify-center">
              <button (click)="cancelLogout()" class="bg-white border border-gray-400 text-gray-800 py-2 px-4 rounded-lg mr-2">Cancel</button>
            </div>
          </div>
        </div>

      </div>
    </div>

    <div
      class="card-all m-0 flex mt-6 ml-12 mr-8 border-b-1 2xl:m-0 2xl:flex 2xl:mt-6 2xl:ml-8 2xl:mr-8 2xl:border-b-1"
    >
      <div class="card w-2/3 h-[486px] rounded-lg m-2 p-5 mx-auto">
        <div class="text-first-event flex justify-center items-center">
          <div>

          </div>

        </div>
      </div>
    </div>
  </div>
</div>


<div
*ngIf="isDiscardModalVisible"
class="fixed inset-0 flex items-center justify-center bg-gray-900 bg-opacity-75 z-50"
>
<div class="bg-white p-6 rounded-lg shadow-lg text-center">
  <div class="logout text-left">
    <h3 class="mb-2">Discard</h3>
    <p>
      Are you sure you want to discard? By discarding , <br />
      you will be redirected to the event page<br />
    </p>
  </div>
  <div class="mt-4 flex justify-center">
    <button
      (click)="cancelDiscard()"
      class="bg-white border border-gray-400 text-gray-800 py-2 px-4 rounded-lg mr-2"
    >
      Cancel
    </button>
    <button
      (click)="confirmDiscard()"
      class="bg-red-600 text-white py-2 px-4 rounded-lg"
    >
      Discard
    </button>
  </div>
</div>
</div>


<div
*ngIf="isDeleteMode"
class="fixed inset-0 flex items-center justify-center bg-gray-900 bg-opacity-75 z-50"
>
<div class="bg-white p-6 rounded-lg shadow-lg text-center">
  <div class="logout text-left">
    <h3 class="mb-2">Delete </h3>
    <p>
      Are you sure you want to
      {{ selectedItemIds.size === 1 ? 'delete this notification?' : 'delete these notifications?' }}
      <br /><br />
    </p>



  </div>
  <div class="mt-4 flex justify-center">
    <button
      (click)="cancelDelete()"
      class="bg-white border border-gray-400 text-gray-800 py-2 px-4 rounded-lg mr-2"
    >
      Cancel
    </button>
    <button
      (click)="deleteNotification()"
      class="bg-red-600 text-white py-2 px-4 rounded-lg"
    >
      Delete
    </button>
  </div>
</div>
</div>

