.no-spinners::-webkit-outer-spin-button,
.no-spinners::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button  {
    -webkit-appearance: none;
    margin: 0;
}


.no-spinners[type='number'],
input[type="number"] {
    -moz-appearance: textfield;
}
