.truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.onhover:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    transition: box-shadow 0.3s ease-in-out; 
}