<div
  class="font-inter bg-cover bg-center h-[100vh]"
  style="
    background-image: url(assets/esp/forgotPass-bg.png);
    background-size: cover;
    background-position: center;
  "
>
  <div>
    <div
      class="container text-white absolute mt-[300px] lg:pl-10 lg:text-left 2xl:text-left 2xl:mt-[300px] lg:text-[48px] lg:mt-48"
    >
      <p class="w-[700px] leading-[60px] font-bold 2xl:pl-36 2xl:w-[950px]">
        Empowering Event Excellence: Introducing EventVista, Where Every Detail
        Matters
      </p>

      <p
        class="lg:text-[12px] w-[532px] h-[56px] leading-5 2xl:pl-36 2xl:w-[680px]"
      >
        Unleash Innovation, Amplify Engagement, and Redefine Event Success with
        Our Comprehensive Platform.
      </p>
    </div>

    <div class="">
      <form
        [formGroup]="ForgotPassword"
        (ngSubmit)="onSubmit()"
        class="sm:rounded-none xl:rounded-xl 2xl:rounded-xl mx-auto w-full max-w-[430px] md:mt-0 h-[405.95px] bg-white pl-8 pr-8 pt-5 gap-5 relative lg:max-w-none lg:w-[400px] lg:absolute lg:top-5 lg:right-5 xl:mt-[50px] lg: mr-9 2xl:mt-40"
      >
        <div (click)=" Home()" class="cursor-pointer flex items-center justify-center mb-6 mt-2">
          <img src="assets/esp/logo.png" alt="Event Vista Logo" class="mr-2" />
          <h2 class="font-bold text-[24.59px] xl:pt-3 xl:pb-3">
            Event<span class="text-red-700">Vista</span>
          </h2>
        </div>

        <div class="-mt-5">
          <h2 class="text-lg font-bold text-center mt-5 text-[24px] mb-1">
            Forgot password
          </h2>
          <p class="mb-7 xl:mt-3 text-center text-[#667085] text-[14px]">
            Reset your password with ease and regain access to your account
          </p>

          <div class="">
            <div class="mb-2">
              <div class="-mt-5">
                <label
                  for="email"
                  class="top- block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                  >Email*</label
                >
                <input
                  type="email"
                  id="email"
                  class="p-2.5 shadow-sm bg-white-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full dark:bg-white dark:border-gray-600 dark:placeholder-white dark:text-black dark:focus:ring-blue-500 dark:focus:border-blue-500"
                  placeholder="Enter your email address"
                  required
                  formControlName="email"
                />

                <div
                  class="text-red-600 absolute -mt-2 pt-3 text-[10px]"
                  *ngIf="
                    ForgotPassword.get('email')?.invalid &&
                    (ForgotPassword.get('email')?.touched ||
                      ForgotPassword.get('email')?.dirty)
                  "
                >
                  <span
                    *ngIf="ForgotPassword.get('email')?.errors?.['required']"
                    >Field is required</span
                  >
                  <span *ngIf="ForgotPassword.get('email')?.errors?.['email']"
                    >Input valid email address</span
                  >
                </div>
              </div>

              <button
                type="submit"
                class="bg-[#E04F16] mt-7 cursor-pointer hover:bg-[#E04F16] text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline w-full"
                [disabled]="!ForgotPassword.valid"
                [ngStyle]="!ForgotPassword.valid ? {'background-color': '#fbdcd0', 'cursor': 'not-allowed'} : {'background-color': '#E04F16'}"

                >
                Submit
              </button>

              <div
                class="cursor-pointer flex items-center justify-center gap-2 mt-5"
                (click)="Login()"
              >
                <img
                  src="assets/esp/arrow-left.png"
                  class="w-5 h-5"
                  alt="Back"
                />

                Back to log in
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>

</div>
