<div class="bg-[#F9FAFB] flex flex-col p-4 h-screen overflow-hidden">
    <div class="flex-1 flex relative rounded-xl bg-white overflow-hidden">
        <div class="p-6 2xl:ml-40 2xl:mt-40 w-full max-w-lg text-center md:text-left absolute top-20 left-5">
            <div class="text-center md:text-left mb-8">
                <h1 class="text-2xl mb-4 font-bold">Welcome to EventVista</h1>
                <p class="text-gray-400">Next are a few questions that can help us <br> understand how we can power your event.</p>
            </div>
            <div class="text-center md:text-left mt-8">
                <button (click)="nextStep()" class="bg-red-600 text-white px-10 py-2 flex rounded-md hover:bg-red-700">
                    Get started
                    <svg width="14" height="14" class="ml-4 mt-1" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1.16602 7.0013H12.8327M12.8327 7.0013L6.99935 1.16797M12.8327 7.0013L6.99935 12.8346" stroke="white" stroke-width="1.67" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>                        
                </button>
            </div>
        </div>
        <div class="absolute top-20 right-10">
            <img src="assets/esp/org-dash/img/welcome.png" alt="EventVista Welcome Image" class="w-full max-w-lg md:max-w-md 2xl:mb-40 2xl:max-w-2xl lg:max-w-xl" />
        </div>
    </div>
</div>
