<div class="relative flex flex-col bg-clip-border rounded-xl bg-[#F9FAFB] text-gray-700 h-screen w-full max-w-[20rem] p-4 shadow-sm shadow-blue-gray-900/5">
  <div class="mb-5 p-4">
    <div class="flex cursor-pointer items-center justify-center mb-6 mt-0 -ml-10" [routerLink]="['/attendee-home']">
      <img src="assets/esp/logo.png" alt="Event Vista Logo" class="mr-2" />
      <h2 class="font-bold text-[24.59px]">
        Event  <span class="text-red-700"> Vista </span>
      </h2>
    </div>
  </div>
  <nav class="-mt-10 -ml-4 flex flex-col gap-1 min-w-[240px] pl-4 font-sans text-base font-normal text-gray-700 flex-grow">
    <div
      role="button"
      tabindex="0"
      routerLink="/attendee-home"
      [ngClass]="{ 'active': isActive('/attendee-home') }"
      class="flex items-center w-full p-3 text-start leading-tight transition-all outline-none rounded-none"
    >
      <div class="grid place-items-center mr-4">
        <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M9 22.9531V12.9531H15V22.9531M3 9.95312L12 2.95312L21 9.95312V20.9531C21 21.4836 20.7893 21.9923 20.4142 22.3673C20.0391 22.7424 19.5304 22.9531 19 22.9531H5C4.46957 22.9531 3.96086 22.7424 3.58579 22.3673C3.21071 21.9923 3 21.4836 3 20.9531V9.95312Z" stroke="#344054" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
      </div>
      Home
    </div>

    <div
      role="button"
      tabindex="0"
      routerLink="/my-events"
      [ngClass]="{ 'active': isActive('/my-events') }"
      class="flex items-center w-full p-3 text-start leading-tight transition-all outline-none rounded-none"
    >
      <div class="grid place-items-center mr-4">
        <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M1 10.9527L10.6422 15.7738C10.7734 15.8394 10.839 15.8722 10.9078 15.8851C10.9687 15.8965 11.0313 15.8965 11.0922 15.8851C11.161 15.8722 11.2266 15.8394 11.3578 15.7738L21 10.9527M1 15.9527L10.6422 20.7738C10.7734 20.8394 10.839 20.8722 10.9078 20.8851C10.9687 20.8965 11.0313 20.8965 11.0922 20.8851C11.161 20.8722 11.2266 20.8394 11.3578 20.7738L21 15.9527M1 5.9527L10.6422 1.13159C10.7734 1.066 10.839 1.0332 10.9078 1.02029C10.9687 1.00886 11.0313 1.00886 11.0922 1.02029C11.161 1.0332 11.2266 1.066 11.3578 1.13159L21 5.9527L11.3578 10.7738C11.2266 10.8394 11.161 10.8722 11.0922 10.8851C11.0313 10.8965 10.9687 10.8965 10.9078 10.8851C10.839 10.8722 10.7734 10.8394 10.6422 10.7738L1 5.9527Z" stroke="#667085" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
      </div>
      My Events
    </div>

    <div
      (click)="showLogoutConfirmation()"
      role="button"
      tabindex="0"
      class="mt-auto flex items-center w-full p-3 rounded-lg text-start leading-tight transition-all"
      >
      <div class="grid place-items-center mr-4">
        <img src="assets/esp/dashboard/logout.png" alt="Event Vista Logo" class="-mr-2" />
      </div>
      Log out
    </div>
  </nav>

  <div *ngIf="isLogoutModalVisible" class="fixed inset-0 flex items-center justify-center bg-gray-900 bg-opacity-75 z-50">
    <div class="bg-white p-6 rounded-lg shadow-lg text-center">
      <div class="logout text-left">
        <h3 class="mb-2">Log Out</h3>
        <p>
          Are you sure you want to log out? By logging out, <br>
          you will be securely logged out of the system and <br>
          your session will be ended.
        </p>
      </div>
      <div class="mt-4 flex justify-center">
        <button (click)="cancelLogout()" class="bg-white border border-gray-400 text-gray-800 py-2 px-4 rounded-lg mr-2">Cancel</button>
        <button (click)="confirmLogout()" class="bg-red-600 text-white py-2 px-4 rounded-lg">Log Out</button>
      </div>
    </div>
  </div>
</div>
