.active {
    background-color: #d1d5db;
    border-radius: 5px;
}

.bg-opacity-75 {
    backdrop-filter: blur(5px);
  }
  
  button {
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #f0f0f0;
  }
  
  button.bg-red-600:hover {
    background-color: #e60000;
  }
  
  .fixed.inset-0 {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 50;
}
  
.logout {
    text-align: left; 
}
  
.logout h3 {
  font-weight: bold;
  margin-bottom: 0.5rem;
}
  
.logout p {
    margin: 0;
    line-height: 1.5;
}
 